<?xml version="1.0"?>
<allsettings>
	<basesettings>
		<pair group="map">
			<key code="1" readable="Screen Width" comment="The Games Resolution" typecode="3" typereadable="INT" />
			<valuelist>
				<value v="1000" />
			</valuelist>
		</pair>
		<pair group="map">
			<key code="2" readable="Screen Height" comment="The Games Resolution" typecode="3" typereadable="INT" />
			<valuelist>
				<value v="800" />
			</valuelist>
		</pair>
		<pair group="map">
			<key code="3" readable="Display Width" comment="Cant remember atm but its screen/tilesize(16)" typecode="3" typereadable="INT" />
			<valuelist>
				<value v="62" />
			</valuelist>
		</pair>
		<pair group="map">
			<key code="4" readable="Display Height" comment="Cant remember atm but its screen/tilesize(16)" typecode="3" typereadable="INT" />
			<valuelist>
				<value v="50" />
			</valuelist>
		</pair>
		<pair group="map">
			<key code="5" readable="Collision Color Inverted" comment="For the tile placement and collision boxes. Inverts the color so you can identify" typecode="1" typereadable="BOOL" />
			<valuelist>
				<value v="false" />
			</valuelist>
		</pair>
	</basesettings>
</allsettings>
